.DS_Store
.cache/
.idea/
*.egg-info
*.orig
*~
*.py[co]
ptsa/griddata-0.1
\#*
\.\#*
build
_build
*.so
build-arch*
dist
MANIFEST
ptsa/extensions/circular_stat/circular_stat.py
ptsa/extensions/circular_stat/circular_stat_wrap.cpp
ptsa/extensions/morlet/morlet.py
ptsa/extensions/morlet/morlet_wrap.cpp
third_party/fftw*/
